<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API DESAFIO</title>
  </head>
  <body>
    <h1>Página Home</h1>
    <br>
    <ul>
      <li>API -> <a href="api"><button>API</button></a></li>
      <li>CHECKOUT -> <a href="checkout"><button>CHECKOUT</button></a></li>
    </ul>

  </body>
</html>
